<!-- {% extends 'layout.html' %} -->

<!-- {% set users = models.User.select() %}

<div class='admin-stats'>User count: {{users.count()}}</div>


<div class="admin-stats">Active Listings: {{models.SellListing.select().count()}}</div>


<h2>Brief User Bios</h2>
{%for user in users%}

<div class='individual-user username'>Username: {{user.username}}</div>
<div class='individual-user username'>Email: {{user.email}}</div>
<br>
{% endfor %}



Other cool things to add:
  total rev?
  total transactions
  users location
  google analytics results. add the actual analtics to layout.html

{%endif%} -->
